Giraffe/obj/fsac.cache
Giraffe/obj/Giraffe.fsproj.nuget.dgspec.json
Giraffe/obj/Giraffe.fsproj.nuget.g.props
Giraffe/obj/Giraffe.fsproj.nuget.g.targets
Giraffe/obj/project.assets.json
Giraffe/obj/project.nuget.cache
Giraffe/obj/project.packagespec.json
Giraffe/obj/rider.project.restore.info
Giraffe/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.fs
Giraffe/obj/Debug/netcoreapp3.1/Giraffe.App.dll
Giraffe/obj/Debug/netcoreapp3.1/Giraffe.App.MvcApplicationPartsAssemblyInfo.cache
Giraffe/obj/Debug/netcoreapp3.1/Giraffe.App.pdb
Giraffe/obj/Debug/netcoreapp3.1/Giraffe.AssemblyInfo.fs
Giraffe/obj/Debug/netcoreapp3.1/Giraffe.AssemblyInfoInputs.cache
Giraffe/obj/Debug/netcoreapp3.1/Giraffe.assets.cache
Giraffe/obj/Debug/netcoreapp3.1/Giraffe.fsproj.CopyComplete
Giraffe/obj/Debug/netcoreapp3.1/Giraffe.fsproj.CoreCompileInputs.cache
Giraffe/obj/Debug/netcoreapp3.1/Giraffe.fsproj.FileListAbsolute.txt
Giraffe/obj/Debug/netcoreapp3.1/Giraffe.fsprojAssemblyReference.cache
Giraffe/obj/Debug/netcoreapp3.1/Giraffe.genruntimeconfig.cache
Giraffe/obj/Debug/netcoreapp3.1/staticwebassets/Giraffe.App.StaticWebAssets.Manifest.cache
Giraffe/obj/Debug/netcoreapp3.1/staticwebassets/Giraffe.App.StaticWebAssets.xml
obj/fsac.cache
obj/Giraffe.fsproj.nuget.dgspec.json
obj/Giraffe.fsproj.nuget.g.props
obj/Giraffe.fsproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/project.packagespec.json
obj/rider.project.restore.info
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.fs
obj/Debug/netcoreapp3.1/Giraffe.App.dll
obj/Debug/netcoreapp3.1/Giraffe.App.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.1/Giraffe.App.pdb
obj/Debug/netcoreapp3.1/Giraffe.AssemblyInfo.fs
obj/Debug/netcoreapp3.1/Giraffe.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/Giraffe.assets.cache
obj/Debug/netcoreapp3.1/Giraffe.fsproj.CopyComplete
obj/Debug/netcoreapp3.1/Giraffe.fsproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Giraffe.fsproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Giraffe.fsprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Giraffe.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/staticwebassets/Giraffe.App.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/staticwebassets/Giraffe.App.StaticWebAssets.xml
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/FSharp.Core.dll
bin/Debug/netcoreapp3.1/FSharp.Data.SqlProvider.dll
bin/Debug/netcoreapp3.1/Giraffe.App.deps.json
bin/Debug/netcoreapp3.1/Giraffe.App.dll
bin/Debug/netcoreapp3.1/Giraffe.App.pdb
bin/Debug/netcoreapp3.1/Giraffe.App.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Giraffe.App.runtimeconfig.json
bin/Debug/netcoreapp3.1/Giraffe.dll
bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
bin/Debug/netcoreapp3.1/Microsoft.IO.RecyclableMemoryStream.dll
bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.1/Persistence.dll
bin/Debug/netcoreapp3.1/Persistence.pdb
bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
bin/Debug/netcoreapp3.1/System.Data.Odbc.dll
bin/Debug/netcoreapp3.1/System.Data.OleDb.dll
bin/Debug/netcoreapp3.1/System.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/TaskBuilder.fs.dll
bin/Debug/netcoreapp3.1/Utf8Json.dll
bin/Debug/netcoreapp3.1/web.config
bin/Debug/netcoreapp3.1/WebRoot/main.css
bin/Debug/netcoreapp3.1/cs/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/de/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/es/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/fr/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/it/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/ja/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/ko/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/pl/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/pt-BR/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/ru/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/runtimes/linux/lib/netcoreapp2.0/System.Data.Odbc.dll
bin/Debug/netcoreapp3.1/runtimes/osx/lib/netcoreapp2.0/System.Data.Odbc.dll
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Data.Odbc.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
bin/Debug/netcoreapp3.1/tr/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/zh-Hans/FSharp.Core.resources.dll
bin/Debug/netcoreapp3.1/zh-Hant/FSharp.Core.resources.dll
