.ionide/symbolCache.db

.fake
.ionide
/Domains/obj/
/Domains/bin/

/Persistence/bin/
/Persistence/obj/

/Giraffe/obj/
/Giraffe/bin/
/Migrations/bin/
/Migrations/obj/
.idea

/PersistenceSQLClient/bin/
/PersistenceSQLClient/obj/
PersistenceSQLClient/obj/PersistenceSQLClient.fsproj.nuget.dgspec.json
PersistenceSQLClient/obj/PersistenceSQLClient.fsproj.nuget.g.props
PersistenceSQLClient/obj/project.assets.json
PersistenceSQLClient/obj/project.nuget.cache
PersistenceSQLClient/obj/project.packagespec.json
PersistenceSQLClient/obj/rider.project.restore.info
PersistenceSQLClient/obj/Debug/netcoreapp3.1/PersistenceSQLClient.assets.cache
PersistenceSQLClient/obj/Debug/netcoreapp3.1/PersistenceSQLClient.fsproj.CoreCompileInputs.cache
PersistenceSQLClient/obj/Debug/netcoreapp3.1/PersistenceSQLClient.fsprojAssemblyReference.cache
PersistenceSQLClient/bin/
PersistenceSQLClient/obj/
