/Persistence/bin/Debug/netstandard2.0/
/Persistence/obj/
.ionide/symbolCache.db

.fake
.ionide
/Domains/obj/
/Domains/bin/
/Giraffe/bin/Debug/netcoreapp3.1/
/Persistence/bin/Debug/netstandard2.1/
/Giraffe/obj/Debug/netcoreapp3.1/
