.ionide/symbolCache.db

.fake
.ionide
/Domains/obj/
/Domains/bin/

/Persistence/bin/
/Persistence/obj/

/Giraffe/obj/
/Giraffe/bin/
/Migrations/bin/
/Migrations/obj/
.idea
/PersistenceSQLClient/bin/
/PersistenceSQLClient/obj/
